@use 'sass:color';

.wrapper {
	padding: 120px 20px 0;
	.profile-container {
		// max-width: 1640px;
		margin: 0 auto;

		.tabs-side {
			padding: 40px;
			background-color: #25272f;
			border-radius: 16px;
			h1 {
				color: $textColor;
				font-size: 20px;
				margin-bottom: 20px;
				line-height: 30px;
			}

			.profile-menu {
				.menu-item {
					color: $textColor;
					padding: 20px 0;
					border-bottom: 1px solid rgba(255, 255, 255, 0.1);

					&.active {
						color: $subColor;
					}
					&:hover {
						color: $subColor;
					}
				}
			}
			.user-info {
				margin-top: 200px;
				.user-avatar {
					@include user-avatar;
				}
				.user-detail {
					p {
						color: #aaa;
						font-size: 14px;
					}
				}
			}
		}
	}

	.content-side {
		margin-left: 20px;
	}
}
