.movies-list-container {
	.movies-list-wrapper {
		padding: 200px $paddingY 100px;
		.movies-list {
			margin: 0 auto;
		}
		.movies-list-title {
			display: inline-block;
			font-weight: 600;
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		.loading-container {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	.pagination {
		:global(.ant-pagination-item-active) {
			background-color: $subColor;
			a {
				color: $bgColorLayout;
			}
		}
		:global(.ant-pagination-item-container) {
			color: $textColor;
			& > * {
				color: $textColor !important;
			}
		}
	}
}
