@use 'variables' as *;

@mixin category-item(
	$textHoverColor: none,
	$cursor: default,
	$borderColor: none,
	$bgColor: #ffffff10,
	$padding: 6px 9px,
	$fontSize: 12px
) {
	display: inline-block;
	padding: $padding;
	border-radius: 5px;
	color: $textColor;
	font-size: $fontSize;
	background-color: $bgColor;
	border: 1px solid $borderColor;
	white-space: nowrap;
	&:hover {
		color: $textHoverColor;
		cursor: $cursor;
	}
}

@mixin title-tab() {
	font-size: 25px;
	font-weight: 600;
	line-height: 38px;
	margin: 20px 0;
}
