$bgColorLayout: #191b24;
$bgColorLayoutLight: #2f3346;
$textColor: #fff;
$subColor: #ffd875;

$paddingY: 45px;

:root {
	--bg-color-layout: #{$bgColorLayout};
	--bg-color-layout-light: #{$bgColorLayoutLight};
	--text-color: #{$textColor};
	--sub-color: #{$subColor};
}
