$bgColorLayout: #191b24;
$bgColorLayoutLight: #2f3346;
$textColor: #fff;
$subColor: #ffd875;
$cardWidthVertical: 170px;
$cardHeightVertical: 255px;
$cardWidthHorizontal: 250px;
$cardHeightHorizontal: 150px;
$paddingY: 45px;

$breakpoints: (
	'xs': 480px,
	'sm': 576px,
	'md': 768px,
	'lg': 1024px,
	'xl': 1280px,
	'xxl': 1400px,
);

:root {
	--bg-color-layout: #{$bgColorLayout};
	--bg-color-layout-light: #{$bgColorLayoutLight};
	--text-color: #{$textColor};
	--sub-color: #{$subColor};
	--card-width-vertical: #{$cardWidthVertical};
	--card-height-vertical: #{$cardHeightVertical};
	--card-width-horizontal: #{$cardWidthHorizontal};
	--card-height-horizontal: #{$cardHeightHorizontal};
}
