.search {
	background-color: hsla(0, 0%, 100%, 0.08);
	border: none;
	padding: 12px 18px;
	:global(.ant-input-suffix) {
		:global(.ant-input-clear-icon) {
			color: $textColor;
			opacity: 0.7;
			font-size: 16px;
		}
	}
	:global(.ant-input-prefix) {
		color: $textColor;
		font-size: 18px;
		opacity: 0.7;
		margin-right: 10px;
	}
	&:hover,
	&:focus {
		background-color: hsla(0, 0%, 100%, 0.1);
		outline: 1px solid #b8b8b8;
	}
	&:not(:focus) {
		color: $textColor;
		opacity: 0.7;
		background-color: hsla(0, 0%, 100%, 0.08);
	}
	input {
		color: $textColor;
		&::placeholder {
			color: $textColor;
			opacity: 0.7;
		}
	}
}
