.top-nav {
	transition: all 0.3s;
	background: transparent;
	padding: 14px 20px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;

	.nav-tab {
		font-size: 14px;
		line-height: 36px;
		opacity: 0.7;
		cursor: pointer;
		:global(.nav-child) {
			color: $textColor;
			&:hover {
				opacity: 1;
			}
			&:visited {
				color: $textColor;
			}
		}
	}
}

.bg-color {
	background: $bgColorLayout;
}
